.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo-section {
  padding: 10px 0px;
}
#logo-section img {
  width: 9%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;
}
header a {
  color: #404040;
  font-weight: 600;
  font-family: "mulish", sans-serif;
}
@media (min-width: 993px) {
  header .sideNavClose, header .nabMenuBar {
    display: none;
  }
}
@media (max-width: 992px) {
  header .navbar-nav {
    display: none;
  }
}
header .nabMenuBar {
  color: #FE0A52 !important;
  font-size: 24px !important;
}
header .nav-menu-item {
  text-decoration: none;
  color: white;
}
header .nav-menu-item:hover {
  text-decoration: none;
  color: white;
  border-left: 5px solid white;
  transition: 0.1s;
}
header .sideNavOpen {
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-x: hidden;
  padding-left: 10px;
  padding-top: 20px;
  transition: 0.1s;
  background-color: #FE0A52;
}
header .sideNavClose {
  height: 100%;
  width: 0px;
  margin-left: -2%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-x: hidden;
  padding-left: 10px;
  padding-top: 20px;
  transition: 0.1s;
  background-color: #FE0A52;
}
header .ContentOverlay {
  display: block;
  position: fixed;
  height: 100%;
  top: 6%;
  left: 0;
  z-index: 7;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}
header .ContentOverlayClose {
  display: none;
}
header .Content {
  margin-left: 60px;
  margin-top: 60px;
  z-index: 5;
}
@media (max-width: 575.98px) {
  header .Content {
    margin-left: 0px;
  }
  header .sideNavClose {
    visibility: hidden;
  }
}
header nav {
  padding: 0 !important;
  height: 70px !important;
  background-color: white !important;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
header nav .brand-menu-ul li .brand-menu-a {
  align-items: center !important;
  display: flex;
  margin-right: 30px !important;
}
header nav .brand-menu-ul li .brand-menu-a img {
  display: block !important;
  height: 30px !important;
}
header nav .middle-menu {
  align-items: stretch !important;
  display: flex !important;
  flex: 1 !important;
  justify-content: center !important;
}
header nav .middle-menu ul {
  align-items: stretch !important;
  display: flex !important;
  flex: 1 !important;
  justify-content: space-between !important;
  margin: 0 !important;
  max-width: 540px !important;
  padding: 0 !important;
}
header nav .middle-menu ul li {
  align-items: stretch !important;
  border-bottom: 4px solid transparent !important;
  display: flex !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: 0.2s border-color !important;
}
header nav .middle-menu ul li a {
  align-items: center !important;
  color: #404040 !important;
  display: flex !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  padding: 4px 10px 0 10px !important;
}
header nav .middle-menu ul li:hover {
  border-bottom: 4px solid #4F6F96 !important;
}

#video-section {
  background: #506f96;
  box-sizing: border-box;
  font-family: "Spectral", serif;
  font-weight: 300;
  min-height: 400px;
  padding-bottom: 70px;
  padding-top: 72px;
  position: relative;
}
#video-section .content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  bottom: 0;
  background: rgba(80, 111, 150, 0.6);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  height: 100%;
}
#video-section #myVideo {
  bottom: 0;
  max-height: 400px;
  object-fit: cover;
  object-position: center 0;
  position: absolute !important;
  top: 0;
  width: 100%;
}

#section-two .container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1124px;
  padding-left: 50px;
  padding-right: 50px;
  /*.gallery-cell.is-selected {
    background: #ED2;
  }*/
  /* cell number */
}
#section-two .container h1 {
  color: #4F6F96;
}
#section-two .container .gallery {
  background: white;
}
#section-two .container .gallery-cell {
  width: 25%;
  height: 200px;
  margin-right: 10px;
  /*background: #8C8;*/
  /*counter-increment: gallery-cell;*/
}
#section-two .container .gallery-cell.left-one {
  grid-column: 1;
}
#section-two .container .gallery-cell.left-two {
  grid-column: 2;
}
#section-two .container .gallery-cell.left-three {
  grid-column: 3;
}
#section-two .container .gallery-cell.left-four {
  grid-column: 4;
}
#section-two .container .gallery-cell.left-five {
  grid-column: 5;
}
#section-two .container .gallery-cell.left-six {
  grid-column: 6;
}
#section-two .container .gallery-cell.left-seven {
  grid-column: 7;
}
#section-two .container .gallery-cell:before {
  display: block;
  text-align: center;
  /*content: counter(gallery-cell);*/
  line-height: 200px;
  font-size: 80px;
  color: white;
}
#section-two .container .item-one {
  position: fixed;
  bottom: 0;
  width: 41%;
  height: 266px;
  margin-right: 10px;
  display: grid;
  grid-template-rows: 179px 28px 26px;
  grid-template-columns: 126px 126px;
}
#section-two .container .item-one img {
  width: 100%;
  grid-column: 1/3;
  grid-row: 1;
  border-radius: 9px;
}
#section-two .container .text-left {
  grid-column: 1;
  grid-row: 2;
}
#section-two .container .text-right {
  grid-column: 2;
  grid-row: 2;
}
#section-two .container .text-left-bottom {
  grid-column: 1;
  grid-row: 3;
  font-size: smaller;
}

#section-three {
  background-color: #F5F5F5;
}
#section-three .container h1, #section-three .container p {
  color: #4F6F96;
}
#section-three .container .row h1, #section-three .container .row p, #section-three .container .row h4 {
  color: #4F6F96;
}

/*# sourceMappingURL=style.css.map */
