.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logo-section {
  padding: 10px 0px;
  img {
    width: 9%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

header {
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;
  nav {
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  }
}

#video-section {
  //   position: relative;
  //   margin: 0;
  //   font-family: Arial;
  //   font-size: 17px;
  //   box-sizing: border-box;

  background: #506f96;
  box-sizing: border-box;
  font-family: "Spectral", serif;
  font-weight: 300;

  min-height: 400px;
  padding-bottom: 70px;
  padding-top: 72px;
  position: relative;
  .content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    bottom: 0;
    background: rgba(80, 111, 150, 0.6);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    height: 100%;
  }
  #myVideo {
    // position: relative;
    // z-index: 0;
    // right: 0;
    // bottom: 0;
    // min-width: 100%;
    // min-height: 100%;

    bottom: 0;
    max-height: 400px;
    object-fit: cover;
    object-position: center 0;
    position: absolute !important;
    top: 0;
    width: 100%;
  }
}

#section-two{
    .container{
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 1124px;
        padding-left:50px;
        padding-right: 50px;
        h1{
            color:#4F6F96;
        }
        .gallery {
            background: white;
          }
          
          .gallery-cell {
            width: 25%;
            height: 200px;
            margin-right: 10px;
          
            /*background: #8C8;*/
            /*counter-increment: gallery-cell;*/
          }
          .gallery-cell.left-one{
            //   left: -29%!important;
            grid-column: 1;
          }
          .gallery-cell.left-two{
            // left: -3.1%!important;
            grid-column: 2;
        }
        .gallery-cell.left-three{
            // left: 22.8%!important;
            grid-column: 3;
        }
        .gallery-cell.left-four{
            // left: 48.7%!important;
            grid-column: 4;
        }
        .gallery-cell.left-five{
            // left: 74.6%!important;
            grid-column: 5;
        }
        .gallery-cell.left-six{
            // left: 100.5%!important;
            grid-column: 6;
        }
        .gallery-cell.left-seven{
            // 
            grid-column: 7;
        }
          /*.gallery-cell.is-selected {
            background: #ED2;
          }*/
          
          /* cell number */
          .gallery-cell:before {
            display: block;
            text-align: center;
            /*content: counter(gallery-cell);*/
            line-height: 200px;
            font-size: 80px;
            color: white;
          }
          .item-one{
            position: fixed;
            bottom: 0;
            width: 41%;
            height: 266px;
            margin-right: 10px;
            display: grid;
               grid-template-rows: 179px 28px 26px;
              grid-template-columns: 126px 126px;
          }
          .item-one img{
            width: 100%;
            grid-column: 1/3;
            grid-row:1;
            border-radius: 9px;
          }
          .text-left{
            grid-column: 1;
            grid-row: 2;
          }
          .text-right{
            grid-column: 2;
            grid-row: 2;
          }
          .text-left-bottom{
            grid-column: 1;
            grid-row: 3;
            font-size: smaller;
          }
    }
}

#section-three{
    background-color: #F5F5F5;
    .container{
        h1,p{
            color:#4F6F96;
        }
        .row{
            h1,p,h4 {
                color:#4F6F96;
            }
        }
    }
}